$data: (
  "icons": (
    "times": "\ea01"
  )
);

@include font-face(icons);

.icon {
  font-family: icons;
  font-style: normal;

  @each $icon, $content in map-get($data, icons) {

    &-#{$icon} {
      
      // stylelint-disable-next-line max-nesting-depth
      &::before {
        content: $content;
      }
    }
  }
}
